body {
  background:#0b0b0b;
  color:#fff;
  font-family:Arial;
  padding:20px;
}
input, button, select {
  width:100%;
  margin:5px 0;
  padding:10px;
}
button {
  background:#f5a623;
  border:none;
  cursor:pointer;
}
hr {
  margin:20px 0;
}

